src/data/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sale" type="saleType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="saleType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="sellDate" type="xs:date"/>
      <xs:element name="price" type="xs:double"/>
      <xs:element name="vat" type="xs:double"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>
